body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: white;
}

body.dark {
  background-color: black;
  color: beige;
}

main {
  width: 80%;
}
