@import "./components/themes.css";
@import "./components/global.css";
@import "./components/header.css";
@import "./components/card.css";
@import "./components/showanswer.css";
@import "./components/footer.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* PROFILE CSS */

.counter {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin-top: 50px;
  border: solid;
  border-radius: 10px;
  padding: 10px;
}
