.qcard {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: solid;
  border-color: black;
  border-radius: 5px;
  margin-bottom: 50px;
}

h2 {
  color: purple;
}

.answer {
  display: flex;
  justify-content: center;
  visibility: hidden;
}

.bookmark {
  position: absolute;
  right: -5px;
  top: -5px;
  font-size: 40px;
}

.bookmark:hover {
  cursor: pointer;
}

.categories {
  display: flex;
  margin-top: 20px;
  text-align: center;
}

.tag {
  list-style-type: none;
  width: 80px;
  background-color: lightgrey;
  margin: 5px;
}
